<footer role="footer" ng-controller="FooterController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3 class="footer-title">고객센터</h3>
                <div class="Service Center">
                    <p>내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오.</p>
                    <p><span>02-000-0000</span><span class="pull-right">ComDoc사무실</span></p>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3 class="footer-title">이용후기</h3>
                <div class="Review">
                    <span class="picture"><img ng-src="assets/img/footer/testimonial-1.jpg" alt="" /> 홍길동</span>
                    <p><i class="icon-quote-left"></i> 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. <i class="icon-quote-right"></i></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3 class="footer-title">파트너 입점신청</h3>
                <form class="content-panel">
                    <div class="controls">
                        <input id="name" name="name" type="text" class="input-block-level footer-input" placeholder="Name">
                    </div>
                    <div class="controls">
                        <input id="email" name="email" type="email" class="input-block-level footer-input" placeholder="Email address">
                    </div>
                    <div class="controls">
                        <textarea id="message" name="message" class="input-block-level footer-input" placeholder="Your Message" rows="5"></textarea>
                    </div>
                    <div class="controls">
                        <button id="contact-submit" type="submit" class="btn blue input-medium pull-right">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-content">
                    <p>민종현, 변동남, 위가혜</p>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <ul class="footer-content social">
                    <li>
                    	<a href="#" class="social-dribbble"></a>
                    </li>
                    <li>
						<a href="#" class="social-facebook"></a>
                    </li>
                    <li>
						<a href="#" class="social-flickr"></a>
                    </li>
                    <li>
						<a href="#" class="social-google-plus"></a>
                    </li>
                    <li>
						<a href="#" class="social-linkedin"></a>
                    </li>
                    <li>
						<a href="#" class="social-tumblr"></a>
                    </li>
                    <li>
						<a href="#" class="social-twitter"></a>
                    </li>
                    <li>
						<a href="#" class="social-vimeo"></a>
                    </li>
                    <li>
                        <a href="#" class="social-youtube"></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-content">
                    <p>&copy; Copyright ⓒ 2015 ComDoc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
