<div class="top-parallax" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>
    
<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>ComDoc이란?</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>ComDoc이란 'Computer Doctor'의 준말로 컴퓨터 출장수리 서비스를 앱서비스와 연계하여, 서비스를 평가하고 견적을 비교하여 결정할 수 있는 양방향 플랫폼 입니다. 신뢰할 수 없으며 비싸고 천차만별인 컴퓨터 수리비, ComDoc에서 먼저 비교하고 지불하세요.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel">
                    <p>컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 컴닥 이용 가이드 동영상입니다. 
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel" fit-vids><iframe src="http://player.vimeo.com/video/69949278" class="video" width="500" height="300"></iframe></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>구성원</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel">
                    <div class="row team">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img class="img-responsive" ng-src="assets/img/about/team.jpg" alt="" />
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="content-panel" >
                                <h3>민종현</h3>
                                <p>내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오.</p>
                            </div>
                            <ul class="team-social social">
                                <li>
			                        <a href="#" class="social-facebook"></a>
			                    </li>
			                    <li>
			                        <a href="#" class="social-google-plus"></a>
			                    </li>
			                    <li>
			                        <a href="#" class="social-linkedin"></a>
			                    </li>
			                    <li>
			                        <a href="#" class="social-twitter"></a>
			                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel">
                    <div class="row team">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img class="img-responsive" ng-src="assets/img/about/team.jpg" alt="" />
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="content-panel" >
                                <h3>변동남</h3>
                                <p>내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오.</p>
                            </div>
                            <ul class="team-social social">
                                <li>
			                        <a href="#" class="social-facebook"></a>
			                    </li>
			                    <li>
			                        <a href="#" class="social-google-plus"></a>
			                    </li>
			                    <li>
			                        <a href="#" class="social-linkedin"></a>
			                    </li>
			                    <li>
			                        <a href="#" class="social-twitter"></a>
			                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="content-panel">
                        <div class="row team">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <img class="img-responsive" ng-src="assets/img/about/team.jpg" alt="" />
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="content-panel" >
                                    <h3>위가혜</h3>
                                    <p>내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오. 내용을 입력하시오.</p>
                                </div>
                                <ul class="team-social social">
                                    <li>
				                        <a href="#" class="social-facebook"></a>
				                    </li>
				                    <li>
				                        <a href="#" class="social-google-plus"></a>
				                    </li>
				                    <li>
				                        <a href="#" class="social-linkedin"></a>
				                    </li>
				                    <li>
				                        <a href="#" class="social-twitter"></a>
				                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>